---
export interface Props {
    cmsSeo?: {
        metaTitle?: string;
        metaDescription?: string;
        keywords?: string;
        metaRobots?: string;
        structuredData?: string;
    };
    fallbackSeo: {
        metaTitle: string;
        metaDescription: string;
    };
}
const { cmsSeo, fallbackSeo } = Astro.props;

const {
    metaTitle = fallbackSeo.metaTitle,
    metaDescription = fallbackSeo.metaDescription,
    keywords,
    metaRobots = "index, follow",
    structuredData,
} = cmsSeo || {};

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);

// TO DO: ADD CONDITIONAL OG TAGS
---

<!-- title -->
<title>{metaTitle}</title>

<!-- description -->
<meta name="description" content={metaDescription} />

<!-- keywords -->
{keywords && <meta name="keywords" content={keywords} />}

<!-- canaonical url -->
<link rel="canonical" href={canonicalUrl} />

<!-- robots -->
<meta name="robots" content={metaRobots} />

<!-- Open Graph: Facebook -->
<meta
    property="og:url"
    content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html"
/>

<!-- Open Graph: General -->
<meta property="og:type" content="article" />
<meta property="og:title" content="When Great Minds Don't Think Alike" />
<meta property="og:description" content="How much does culture influence creative thinking?" />
<meta
    property="og:image"
    content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg"
/>
<!-- Open Graph: Twitter/X -->
<meta name="twitter:card" content="summary" />

{
    structuredData && (
        <script is:inline set:html={JSON.stringify(structuredData)} type="application/ld+json" />
    )
}
