---
import Layout from "@layouts/PageLayout.astro";
import Header from "@layouts/Header.astro";
import EmailForm from "@components/Newsletter.astro";
import InstagramFeed from "@components/InstagramFeed.astro";
import cmsFetch from "@assets/scripts/cms/cmsFetch";
import { renderBlock } from "@assets/scripts/cms/blockRenderer";
import { Image } from "astro:assets";
import DividerLayout from "@layouts/DividerLayout.astro";

import headerBg from "@images/home-bg-desktop.webp";
// CMS query params
const queryParams = {
    populate: {
        text: {
            populate: "*",
        },
    },
};

const imageQueryParams = {
    populate: {
        entryName: "*",
        profile: {
            populate: "*",
        },
        socials: "*",
    },
};
// CMS page query
const blockTests = await cmsFetch("blocks-tests", queryParams);

const authorQuery = await cmsFetch("authors", imageQueryParams);

const content = renderBlock(blockTests[0].attributes.text);
---

<Layout>
    <Header title="About Us" backgroundImgPath={headerBg} />
    <main>
        <div class="wrapper">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim cupiditate aliquam at
                consectetur quas facere consequuntur mollitia adipisci commodi ea praesentium nam,
                quos impedit eligendi natus ex, tempore et quaerat?
            </p>
            <h2>Useful Links</h2>
            <ul>
                <li>
                    <a href="/events">Events Page</a>
                </li>
                <li>
                    <a href="/connect">Connect Page</a>
                </li>
            </ul>
            <Fragment set:html={content} />

            {
                authorQuery.map((author) => {
                    const { url } = author.attributes.profile.picture.data.attributes;
                    const altText = author.attributes.profile.username;
                    return (
                        <>
                            <Image src={url} alt={altText} inferSize={true} format="webp" />
                            <p>{altText}</p>
                        </>
                    );
                })
            }
        </div>
        <EmailForm />
        <InstagramFeed />

        <DividerLayout
            dividerTopFileName="divider-top-tear"
            dividerBottomFileName="divider-bottom-tear"
            color="#423A70"
        >
            <h2>HELLO. TESTING DIVIDER</h2>
        </DividerLayout>
    </main>
</Layout>
