---
import Layout from "@layouts/Layout.astro";
import Header from "@layouts/Header.astro";
import EmailForm from "@components/EmailForm.astro";
import cmsFetch from "@scripts/cms/cmsFetch";
import { renderBlock } from "@scripts/cms/blockRenderer";
import { Image } from "astro:assets";

// CMS query params
const queryParams = {
    populate: {
        text: {
            populate: "*",
        },
    },
};

const imageQueryParams = {
    populate: {
        entryName: "*",
        profile: {
            populate: "*",
        },
        socials: "*",
    },
};
// CMS page query
const blockTests = await cmsFetch("blocks-tests", queryParams);

const authorQuery = await cmsFetch("authors", imageQueryParams);

const content = renderBlock(blockTests[0].attributes.text);
---

<Layout>
    <Header title="Hello World" />
    <main>
        <div class="wrapper">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim cupiditate aliquam at
                consectetur quas facere consequuntur mollitia adipisci commodi ea praesentium nam,
                quos impedit eligendi natus ex, tempore et quaerat?
                <a href="/connect">Connect Page</a>
            </p>
            <Fragment set:html={content} />
            <EmailForm />
            {
                authorQuery.map((author) => {
                    const { url } = author.attributes.profile.picture.data.attributes;
                    const altText = author.attributes.profile.username;
                    return (
                        <>
                            <Image src={url} alt={altText} inferSize={true} format="webp" />
                            <p>{altText}</p>
                        </>
                    );
                })
            }
        </div>
    </main>
</Layout>
