---
// scripts
import constructYoutubeUrl from "src/assets/scripts/lib/youtube";
// Layouts and Components
import { Icon } from "astro-icon/components";
import Link from "./Link.astro";
import { Image } from "astro:assets";

// assets
export interface Props {
    url: string;
    piece?: any;
}

const { piece, url } = Astro.props;

// constructed youtube url
const { embedUrl, imageUrl, watchUrl } = constructYoutubeUrl(url);
// piece
const { name, composer, description }: { name: string; composer: string; description: string } =
    piece ?? {};
---

<div class="video">
    <h2>Watch & Listen</h2>

    <!-- Embed -->
    <div class="video__embed-container background__image-parent">
        <iframe
            class="video__embed"
            width="1000"
            height="563"
            src={embedUrl && embedUrl}
            title="YouTube video player"
            allow="encrypted-media; picture-in-picture; web-share"
            sandbox="allow-scripts allow-same-origin allow-presentation"
            referrerpolicy="strict-origin-when-cross-origin"
            loading="lazy"
            allowfullscreen></iframe>

        <Link url={watchUrl} isLinkExternal class="background__image">
            <Image
                class="video__image-backup"
                src={imageUrl}
                alt="Toronto Wind Collective - Ephemeral Bliss"
                width={1000}
                height={563}
            />
            <Icon name="youtube-play" />
        </Link>
    </div>

    <!-- text -->
    <div class="flow">
        {
            name && (
                <h3>
                    {composer && `${composer.toUpperCase()} - `}
                    {name}
                </h3>
            )
        }
        {description && <p>{description}</p>}
    </div>

    <!-- CTA -->
    <div class="video__cta">
        <ul class="video__socials">
            <li>
                <Link
                    url="https://www.instagram.com/torontowindcollective/"
                    type="text--dark"
                    isLinkExternal
                >
                    <Icon name="socials/instagram" />
                    <p>instagram/torontowindcollective</p>
                </Link>
            </li>
            <li>
                <Link
                    url="https://www.youtube.com/@torontowindcollective"
                    type="text--dark"
                    isLinkExternal
                >
                    <Icon name="socials/youtube" />
                    <p>youtube.com/@TorontoWindCollective</p>
                </Link>
            </li>
        </ul>
        <Link url="/events" type="button--secondary-white" class="cta">
            See More Concerts & Events
        </Link>
    </div>
</div>

<style lang="scss">
    @use "@styles/partials/abstracts/mixins" as *;

    .video {
        color: var(--clr-white);
        text-align: center;

        // embed
        &__embed-container {
            margin-block: var(--spc-lg);
            margin-inline: auto;
            position: relative;
        }

        &__embed-container,
        &__embed,
        &__image-backup {
            aspect-ratio: 16 / 9;
            width: 100%;
            max-width: 1000px;
            height: fit-content;
        }

        [data-icon="youtube-play"] {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 50px;
        }
        // backup external link
        &__image {
            position: relative;

            &-backup {
                filter: brightness(0.5);
            }
        }
        &__cta {
            margin-block: var(--spc-lg);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: var(--spc-med);

            .cta {
                align-self: flex-end;
                flex: 1 300px;
            }
        }

        &__socials {
            flex: 6 2;
            display: grid;
            gap: var(--spc-xs);

            a {
                display: flex;
                align-items: center;
                gap: var(--spc-xs);
                font-weight: 700;
            }

            [data-icon] {
                font-size: 30px;
            }
        }
    }

    @include responsive-style(mobile) {
        .video__cta {
            .cta {
                font-size: var(--font-sz-400);
            }
        }

        .video__socials {
            justify-content: center;
            a {
                gap: 4px;
            }
            p {
                font-size: var(--font-sz-200);
            }
        }
    }
</style>
