---
import { Icon } from "astro-icon/components";

export interface Props {
    dividerTopFileName: string;
    dividerBottomFileName: string;
    color: "brand-primary" | "brand-secondary" | "beige";
    bgColorTop?: string;
    bgColorBottom?: string;
    class?: string;
    [key: string]: any;
}

const {
    dividerTopFileName,
    dividerBottomFileName,
    color,
    bgColorTop,
    bgColorBottom,
    class: className,
    ...rest
} = Astro.props as Props;
---

<section class:list={["divider", color && `divider--${color}`, className]} {...rest}>
    <Icon
        name={dividerTopFileName}
        class:list={[
            "divider__icon",
            "divider__icon-top",
            bgColorTop && `divider__icon-top--${bgColorTop}`,
        ]}
    />
    <div class="divider__content section__padding">
        <div class="content wrapper" {...rest}>
            <slot />
        </div>
    </div>
    <Icon
        name={dividerBottomFileName}
        class:list={[
            "divider__icon",
            "divider__icon-bottom",
            bgColorBottom && `divider__icon-bottom--${bgColorBottom}`,
        ]}
    />
</section>

<style lang="scss">
    .divider {
        --_divider-color: var(--clr-brand-primary);
        --_bg-color-top: transparent;
        --_bg-color-bottom: transparent;
        // LAYOUT
        display: grid;
        position: relative;
        // SVG DIVIDERS
        &__icon {
            width: 100%;
            height: auto;
            color: var(--_divider-color);
            fill: currentColor;
            position: relative;
            z-index: 1;
            &-top {
                background-color: var(--_bg-color-top);
            }
            &-bottom {
                background-color: var(--_bg-color-bottom);
                margin-block-start: -1px;
            }
        }
        // CONTENT
        &__content {
            background-color: var(--_divider-color);
            margin-block-start: -1px;
            position: relative;
            z-index: 1;
        }

        // DIVIDER COLOR MODIFIERS
        &--beige {
            --_divider-color: var(--clr-beige);
        }
        &--brand-primary {
            --_divider-color: var(--clr-brand-primary);
        }
        &--brand-secondary {
            --_divider-color: var(--clr-brand-secondary);
        }

        // BG COLOR MODIFIERS
        .divider__icon-top {
            &--beige {
                --_bg-color-top: var(--clr-beige);
            }
            &--brand-primary {
                --_bg-color-top: var(--clr-brand-primary);
            }
            &--brand-secondary {
                --_bg-color-top: var(--clr-brand-secondary);
            }
        }

        .divider__icon-bottom {
            &--beige {
                --_bg-color-bottom: var(--clr-beige);
            }
            &--brand-primary {
                --_bg-color-bottom: var(--clr-brand-primary);
            }
            &--brand-secondary {
                --_bg-color-bottom: var(--clr-brand-secondary);
            }
        }
    }
</style>
