---
import "@styles/styles.scss";
// SCRIPTS
import cmsFetch from "src/assets/scripts/cms/cmsFetch";
// LAOUTS
import Navigation from "@components/nav/Navigation.astro";
import Footer from "@components/Footer.astro";
// COMPONENTS
import Favicon from "@components/head/Favicon.astro";
import Seo from "@components/head/Seo.astro";
import Preview from "@components/Preview.astro";

interface Props {
    seo?: any;
    isTurnstile?: boolean;
    class?: string;
}
const { seo, isTurnstile, class: className, ...rest } = Astro.props;

const queryParameters = {
    populate: {
        logo: "*",
        navigation: "*",
        mainNavigation: "*",
        footer: {
            populate: {
                bio: "*",
                ctaButton: "*",
                navigation: "*",
                socials: {
                    populate: "*",
                },
            },
        },
    },
};
const pageQuery = await cmsFetch("site-information", queryParameters);
const { logo, navigation, mainNavigation, footer } = pageQuery.attributes || {};
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <Favicon />
        {seo && <Seo seo={seo} />}
        {
            isTurnstile && (
                <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer />
            )
        }
    </head>
    <body class="page-layout overlay">
        {import.meta.env.VITE_IS_PREVIEW_MODE === '"true"' && <Preview />}
        <Navigation
            logo={logo.data.attributes}
            mainNavigation={mainNavigation}
            ctaButton={navigation.ctaButton}
        />
        <div class:list={["content", className]} {...rest}>
            <slot />
        </div>
        <Footer
            logo={logo.data.attributes}
            bio={footer.bio}
            navigation={footer.navigation}
            socials={footer.socials.data}
        />
    </body>
</html>

<style lang="scss">
    @use "@styles/partials/abstracts/mixins" as *;

    .page-layout {
        min-height: 100vh;
        min-height: 100dvh;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    // TABLET MEDIA QUERY
    @include responsive-style(tablet) {
        // Adjusting content to Fixed Navigation
        html {
            scroll-padding-top: 80px;
        }
        .content {
            margin-top: 80px;
        }
    }
</style>
