---
import type { Props as TitleProps } from "@components/Title.astro";
// scripts
// Layouts & Components
import { Image, Picture } from "astro:assets";
import Title from "@components/Title.astro";
import Link from "@components/Link.astro";
// assets
import squiggle from "@images/squiggle.svg";
import image1 from "@images/about/musician.jpg";
import image2 from "@images/newsletter-bg-desktop.webp";
import image3 from "@images/home-bg-desktop.webp";
import image4 from "@images/404-bg.webp";

interface Props {
    title: TitleProps;
    class?: string;
    [key: string]: any;
}

const { title, class: className, ...rest } = Astro.props;
---

<section class:list={["side-by-side", "section__padding", className]} {...rest}>
    <div class="side-by-side__content wrapper">
        <!-- TEXT -->
        <div class="side-by-side__text flow">
            <!-- TITLE -->
            <Title {...title}>
                <slot name="title" />
            </Title>
            <!-- CONTENT -->
            <slot />

            <!-- OPTIONAL CTA LINKS AND BUTTONS -->
            {
                Astro.slots.has("cta") && (
                    <div class="cta">
                        <slot name="cta" />
                    </div>
                )
            }
        </div>
        <!-- IMAGE Gallery -->
        <div class="side-by-side__imgs background__image-parent">
            <div>
                <Picture src={image1} alt="image" widths={[1200, 600]} class="side-by-side__img" />
                <Picture src={image2} alt="image" widths={[1200, 600]} class="side-by-side__img" />
            </div>

            <div>
                <Picture src={image3} alt="image" widths={[1200, 600]} class="side-by-side__img" />
                <Picture src={image4} alt="image" widths={[1200, 600]} class="side-by-side__img" />
            </div>

            <Image
                class="background__image"
                src={squiggle}
                alt="squiggle graphic"
                role="presentation"
            />
        </div>
    </div>
</section>

<style lang="scss">
    @use "@styles/partials/abstracts/mixins" as *;

    .side-by-side {
        // LAYOUT
        &__content {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: var(--spc-lg);

            & > * {
                flex: 1;
            }
        }
        .side-by-side__text {
            min-width: 450px;
        }
        .side-by-side__imgs {
            min-width: 300px;
        }
        // TEXT SECTION
        // optional cta

        .cta {
            display: flex;
            gap: var(--spc-sm);
        }
        // IMAGE SECTION
        &__imgs {
            --_gap: clamp(var(--spc-med), 4.348vw + -0.087rem, var(--spc-lg));
            display: flex;
            justify-content: center;
            gap: var(--_gap);

            div {
                display: flex;
                flex-direction: column;
                gap: var(--_gap);
            }

            div:nth-child(2) {
                margin-block-start: var(--spc-xl);
            }
        }

        &__img {
            width: 100%;
            max-width: 256px;
            aspect-ratio: 4 / 6;
            height: fit-content;
        }

        // Background Image
        .background__image-parent,
        .background__image {
            overflow: visible;
        }

        .background__image {
            scale: 80%;
            translate: -20%;
        }
    }

    @include responsive-style(tablet) {
        .side-by-side {
            // LAYOUT
            &__content {
                flex-direction: column;
            }
            .side-by-side__text,
            .side-by-side__imgs {
                min-width: 0;
            }
            // TEXT SECTION
            // optional cta

            .cta {
                margin-block-start: var(--spc-lg);
                justify-content: center;
                flex-wrap: wrap;
                :global(a) {
                    flex: 1;
                    min-width: 200px;
                }
            }
            // IMAGE SECTION

            &__imgs {
                div {
                }
            }
            &__img {
                max-width: 200px;
            }
            // Background Image
            .background__image {
                scale: 70%;
                translate: 0;
            }
        }
    }
</style>
